body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:white;
}

/* Header */
header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

/* Content section */
.content {
    padding: 30px;
    text-align: center;
    background-color: white;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: black;
    color: white;
}
