body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:white;
}


header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 40px 20px;
}


.content {
    padding: 30px;
    text-align: center;
    background-color: white;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: black;
    color: white;
}

