body {
    text-align: center;
    padding-top: 50px;
    font-family: Arial;
    background-color: white;
}

.box {
    width: 250px;
    margin: 0 auto;
    padding: 30px;
    background-color: red;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}
