
body {
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: Arial, sans-serif;
}


.card {
    width: 300px;
    background-color: white;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.card h2 {
    margin: 15px 0 5px;
}


.role {
    color: gray;
    font-size: 14px;
}


.desc {
    font-size: 14px;
    margin: 15px 0;
}


.card button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.card button:hover {
    background-color: #45a049;
}
