body {
    text-align: center;
    padding-top: 50px;
    font-family: Arial;
    background-color: white;
}

button {
    padding: 15px 30px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: green;
}
