body {
    margin: 0;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}


.form-box {
    width: 320px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
}


.form-box input,
.form-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
}

.form-box input:focus,
.form-box textarea:focus {
    outline: none;
    border-color: green;
}

.form-box button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.form-box button:hover {
    background-color:green;
}
