body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}


.box {
    width: 150px;
    height: 150px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 8px;
}
