body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
    padding-top: 40px;
}


table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
    background-color: white;
}


th {
    background-color:green;
    color: white;
    padding: 12px;
}


td {
    padding: 10px;
    border: 1px solid white;
}


tr:nth-child(even) {
    background-color: white;
}

tr:hover {
    background-color: white;
}

