p {
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}


.red { background-color: red; color: white; }
.green { background-color: green; color: white; }
.blue { background-color: blue; color: white; }
