body {
    font-family: Arial, sans-serif;
    background-color:white;
    text-align: center;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 450px;
    margin: auto;
}


.gallery img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
