body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    padding-top: 50px;
}

h2 {
    margin-bottom: 30px;
}


button {
    padding: 15px 25px;
    margin: 15px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}


.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
